
@lightGray: #bababa;


#title-bar {
    position: relative;
}

#editor {
    /* (editor - bottom) */
    height: ~"calc(100% - 70px)";
    min-height: 20em;
}

.save-indicator {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 20px;
}

#audio h2 {
    margin-top: 0;
}

menu button,
menu input {
    outline: none !important;
}

menu {
    padding: 0;
}

menu input {
    border: none;
    max-width: 60%;
}

.record-stop {
	width: 64px;
	height: 64px;
	margin: 0;
    border-radius: 50%;
    font-weight: bold;
    transition: all 0.005s ease-in-out;
}

.recording {
    height: 50px;
    width: 50px;
    margin: 7px;
    border-radius: 3px;
}

.sign-in-up {
    list-style-type: none;
    margin-top: 32px
}

[contenteditable=true]:empty:before {
    content: attr(data-placeholder);
    color: @lightGray;
}

.soft-text {
    color: @lightGray;
}

.active .soft-text {
    color: #eee;
}


@media all and (min-width: 992px) {

    html,
    body,
    .full-height {
        height: 100%;
    }

    #app-container {
        /* (window - navbar) */
        height: ~"calc(100% - 71px)";
    }

    #song-content {
        /* (container - titlebar) */
        height: ~"calc(100% - 90px)";
        margin-top: 1em;
    }
}
