
@lightGray: #bababa;

@keyframes redPulse {
  from { background-color: #d2322d; box-shadow: 0 0 9px #333; }
  50% { background-color: #d9534f; box-shadow: 0 0 18px #d9534f; }
  to { background-color: #d2322d; box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes redPulse {
  from { background-color: #d2322d; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #d9534f; -webkit-box-shadow: 0 0 18px #d9534f; }
  to { background-color: #d2322d; -webkit-box-shadow: 0 0 9px #333; }
}

@-moz-keyframes redPulse {
  from { background-color: #d2322d; -moz-box-shadow: 0 0 9px #333; }
  50% { background-color: #d9534f; -moz-box-shadow: 0 0 18px #d9534f; }
  to { background-color: #d2322d; -moz-box-shadow: 0 0 9px #333; }
}

.navbar .dropdown-toggle {
    padding: 15px;
}

#song-list h2 {
    margin-top: 10px;
}

#title-bar {
    position: relative;
    margin: 15px 0 20px 0;
}

#song-title,
[contenteditable=true] {
    border: 1px solid #ddd;
    border-radius: 4px;
    border-radius: 4px;
}

#song-title:focus,
#editor:focus,
[contenteditable=true]:focus {
    outline: none !important;
    box-shadow: inset 0 0 2px #333 !important;
    -webkit-box-shadow: inset 0 0 2px #333 !important;
    border: 0 !important;
    border-color: none !important;
}

#editor {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border: 0 !important;
}

#editor,
#content {
    min-height: 15em;
}

.save-indicator {
    position: absolute;
    bottom: -5px;
    right: 0;
    margin: 0 20px;
}

#audio li {
    padding: 0;
}

#audio .close {
    margin: 13px 15px 0 0;
}

.btn-link,
menu button,
menu input {
    outline: none !important;
}

menu {
    margin: 0;
    padding: 0;
}

menu input {
    border: none;
    max-width: 60%;
}

.not-btn,
.not-btn:hover,
.not-btn:focus {
    color: inherit;
    text-decoration: none;
    cursor: inherit;
}

.collapse-btn {
    padding: 0;
}

.collapse-btn h2 {
    display: inline-block;
}

#audio h2,
.record-stop {
    display: inline-block;
}

#audio h2 {
    margin-top: 0;
}

.record-stop {
	width: 64px;
	height: 64px;
	margin: 0 5px 10px 0;
    border-radius: 50%;
    font-weight: bold;
    transition: all 0.005s ease-in-out;
}

.recording {
    animation-name: redPulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    -webkit-animation-name: redPulse;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: redPulse;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
}

.panel-body {
    height: 100%;
}

.sign-in-up {
    list-style-type: none;
    margin-top: 32px
}

[contenteditable=true]:empty:before {
    content: attr(data-placeholder);
    color: @lightGray;
}

.soft-text {
    color: @lightGray;
}

.active .soft-text {
    color: #eee;
}


@media all and (min-width: 992px) {

    html,
    body,
    .full-height {
        height: 100%;
    }

    #app-container {
        /* (window - navbar) */
        height: ~"calc(100% - 114px)";
    }

    #song-content {
        /* (container - titlebar) */
        height: ~"calc(100% - 90px)";
        margin-top: 1em;
    }
    
    #title-bar {
        margin: 55px 0 0 0;
    }
    
    #editor {
        /* (editor - bottom) */
        height: ~"calc(100% - 70px)";
        
    }
}
