/* CSS declarations go here */

.sign-in-up {
    list-style-type: none;
    margin-top: 32px
}

.header-separator {
    margin-bottom: 36px;
}

aside {
    padding-bottom: 20px;
}

#editor-panel {
    margin-top: 1em;
}

#editor {
    min-height: 20em;
}

[contenteditable=true]:empty:before {
    content: attr(data-placeholder);
    color: #888;
}
