<template name="audio">   
    <menu>
        
        <button type="button" class="record-stop btn btn-sm btn-danger">
            Record
        </button>
        
        <h2>Audio</h2>
    
        {{#if sounds}}
            <ul class="list-group">
                {{#each sounds}}
                    {{> sound}}
                {{/each}}
            </ul>
        {{else}}
            <p class="soft-text">
                New recordings will show up here.
            </p>
        {{/if}}
    
    </menu>
</template>

<template name="sound">
    <li data-id="{{_id}}" 
        class="list-group-item toggle in clearfix {{songClass}}">
        
        <button type="button" class="btn btn-lg btn-link">
            <span class="play-pause glyphicon glyphicon-play"></span>
        </button>
        
        <audio src="{{blobURL}}"></audio>

        <input class="sound-title" autocomplete="off"
            placeholder="(untitled)" value="{{title}}">
            
        <button type="button" class="close pull-right"
            data-toggle="modal" data-target="#deleteSongModal">
            &times;
        </button>
        
    </li>
</template>
