<template name="audio">   
    <menu>
        
        <button type="button"
            class="record-stop btn btn-sm btn-danger {{recordingClass}}">
            {{recordButtonText}}
        </button>
        
        <h2>Audio</h2>
        
        {{#if sounds}}
            <ul class="list-group">
                {{#each sounds}}
                    {{> sound}}
                {{/each}}
            </ul>
        {{else}}
            <p class="soft-text">
                New recordings will show up here.
            </p>
        {{/if}}
    
        {{#if soundLoading}}
            {{>loading}}
        {{/if}}
        
    </menu>
</template>

<template name="sound">
    <li data-id="{{_id}}" 
        class="list-group-item toggle in clearfix">
        
        {{#unless soundLoading}}
        
            <button type="button" class="play-pause btn btn-lg btn-link">
                <span class="glyphicon glyphicon-play"></span>
            </button>
            
            <audio src="{{srcURL}}"></audio>
            
            <input class="sound-title" autocomplete="off"
                placeholder="(untitled)" value="{{title}}">
            
        {{else}}
            {{> FS.UploadProgressBar bootstrap=true}}
        {{/unless}}        
                
        <button type="button" class="close pull-right"
            data-toggle="modal" data-target="#deleteSongModal">
            &times;
        </button>
    </li>
    
</template>
