<template name="controls">
    <div id="controls" class="clearfix">
    
        <div class="pull-left input-group input-group-lg">
            <input type="text" tabindex="1" class="form-control"
                id="song-title" placeholder="Enter a title"
                {{#if currentUser}}value="{{songTitle}}"{{/if}}>
        </div>
        
        <button id="record" type="button">Record</button>
        <button id="stop" type="button">Stop</button>
	    <button id="play" type="button">Play</button>
	    
        <p class="save-indicator pull-right soft-text">
            {{#if currentUser}}
                {{#isolate}}{{saveIndicator}}{{/isolate}}
            {{/if}}
        </p>
        
    </div>
</template>
