<template name="deleteSongDialog">
    <div  id="deleteSongModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
                aria-hidden="true">&times;</button>
            <h4 class="modal-title">Delete Song</h4>
          </div>
          <div class="modal-body">
            {{> deleteSongDialogBody}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
                Cancel
            </button>
            <button type="button" class="removeSong btn btn-primary"
                data-dismiss="modal">
                Delete
            </button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</template>

<template name="deleteSongDialogBody">
    <p>Are you sure you want to delete {{deleteSongTitle}}?</p>
</template>
