<template name="deleteDialog">
    <div  id="deleteModal" class="modal fade">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
                aria-hidden="true">&times;</button>
            <h4 class="modal-title">Delete Song</h4>
          </div>
          <div class="modal-body">
            {{> deleteDialogBody}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
                Cancel
            </button>
            <button type="button" class="remove btn btn-primary"
                data-dismiss="modal">
                Delete
            </button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</template>

<template name="deleteDialogBody">
    <p>
        Are you sure you want to delete 
        {{#if title}}
            {{title}}?
        {{else}}
            (untitled)?
        {{/if}}
    </p>
</template>
