<template name="editor">

    <div id="editor" class="full-height">
    
        <button type="button" class="pull-right btn btn-default">
            Annotate
        </button>
        
        <div tabindex="2" data-placeholder="Type some lyrics..." 
            id="content" class="panel-body" contenteditable="true"></div>
            
    </div>

    {{#unless currentUser}}
        <button type="button" class="logInToSave pull-right btn btn-default">
            Log in to save
        </button>
    {{/unless}}

</template>
