<template name="recordings">
    <h2>Takes</h2>
    {{#if songRecordings}}
        <div class="list-group">
            {{#each songRecordings}}
                {{> recordingItem}}
            {{/each}}
        </div>
    {{else}}
        <p class="soft-text">
            Once you create some recordings, they will appear here.
        </p>
    {{/if}}
</template>

<template name="recordingItem">
    <a href="#" class="list-group-item toggle in clearfix {{songClass}}">
        <button type="button" class="btn btn-xs btn-link">
            <span class="glyphicon glyphicon-play"></span>
        </button>
        {{#if title}}
            {{title}}
        {{else}}
            <span class="soft-text">(untitled take)</span>
        {{/if}}
        <button type="button" class="close pull-right"
            data-toggle="modal" data-target="#deleteSongModal">
            &times;
        </button>
    </a>
</template>
